Django==6.0.4
psycopg[binary]>=3.2,<4
requests>=2.33,<3
Pillow>=12.2,<13
django-cors-headers>=4.9,<5
djangorestframework>=3.17,<4
django-tailwind>=4.4,<5
asgiref>=3.11,<4
sqlparse>=0.5,<1
tzdata>=2026.1
gunicorn>=23,<24
whitenoise>=6.11,<7
